<html>
<head><title>Knowledge Hub </title>
<link rel="stylesheet" href="'/stylesheets/design.css'">
</head>
<body>
    <h3><strong>NOBODY PROVIDES IT BETTER BUT</strong></h3>
<div class="logo">
<img src="./imgs/logo2.PNG" alt="logo2.PNG" height="300" width="400">
</div>
<div class="slider"></div>
<ul class="nav" style=" margin-right: 85%; margin-top: 20px;" >
   <li class="new">
      <a class="nav" href="./myweb"><strong>HOME</strong></a>
   </li>
   <li class="new">
      <a class="nav" href="./login"><strong>LOGIN</strong></a>
   </li>
   <li class="new">
      <a class="nav" href="./signup"><strong>SIGNUP</strong></a>
   </li>
   <li class="new">
      <a class="nav disable" href="a" tabindex="-1" aria-disabled="true"><strong>PROFILE</strong></a>
   </li>
   <% records.forEach(function(row){ %>
   <p>Hye , whose email is <%= records.email %> 
   </p>
   <% }) %>
   </body>
   </html>