
<html>
<head><title>Knowledge Hub </title>
<link rel="stylesheet" href='/stylesheets/design.css'>
</head>
<body>
    <h3><strong>NOBODY PROVIDES IT BETTER BUT</strong></h3>
<div class="logo">
<img src="./images/logo2.PNG" alt="logo2.PNG" height="300" width="400">
</div>
<div class="slider"></div>
    <ul class="nav" style=" margin-right: 85%; margin-top: 20px;" >
        <li class="new">
           <a class="nav" href="./myweb"><strong>HOME</strong></a>
        </li>
        <li class="new">
           <a class="nav" href="./login"><strong>LOGIN</strong></a>
        </li>
        <li class="new">
           <a class="nav" href="./signup"><strong>SIGNUP</strong></a>
        </li>
        <li class="new">
           <a class="nav disable" href="a" tabindex="-1" aria-disabled="true"><strong>PROFILE</strong></a>
        </li>
     </ul> 
    <form action="/signup" method="post" style="margin-left: 30%; margin-right: 30%;">
        <ul>
       <h3><strong>SIGN UP</strong></h3>
       <input type="text" name="name" required placeholder="NAME"/>
       <p></p>
       <input type="email" name="email" required placeholder="EMAIL"/>

       <p></p>
       <input type="text" name="cno" required placeholder="CONTACT NUMBER"/>

       <p></p>
       <input type="text" name="dob" required placeholder="DOB(ddmmyyyy)"/>

       <p></p>
       <input type="text" name="password" required placeholder="PASSWORD"/>

       <p></p>
       <input type="text" name="cpassword" required placeholder="CONFIRM PASSWORD"/>
       
        <p></p>
       <input type="submit" value="REGISTER" class="submit" >
        </ul>
     </form>
   </body>
     </html>